
.payment-section {
  padding: 50px 20px;
  text-align: center;
  background-color: #faf3e0;
}

.payment-section .heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #8B4513;
}

.payment-section .text {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #333;
}

.payment-section .payment-list {
  list-style: none;
  padding: 0;
  margin: 0 auto 20px auto;
  max-width: 400px;
}

.payment-section .payment-list li {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #444;
}

.payment-section .note {
  font-size: 1rem;
  color: #666;
  margin-top: 20px;
}

.payment-icon {
  width: 30px; /* Adjust size */
  height: 20px; /* Adjust size */
  margin-right: 1px; /* Add space between icon and text */
}
