/* Single Image Page: Larger Image */
.single-image {
  text-align: center;
  padding: 20px;
  background-color: #faf3e0;
}

.single-image-img {
  max-width: 50%; /* Image is larger but not too big */
  height: auto;
  object-fit: contain; /* Ensure image retains aspect ratio */
  border-radius: 8px;
}

.single-image h1 {
  font-family: Georgia, serif;
  font-size: 1.5rem;
  margin: 20px 0;
} 

.single-image p {
  font-family: Georgia,  serif;
  font-size: 1rem;
  color: #333;
} 
.button-link {
  display: flex;
  justify-content: center; /* Horizontally center the button */
  width: 100%; /* Ensure the button is on its own line */
}

.button-link button {
  padding: 15px 30px;
  background-color: #eac8ab; /* Light sand color for the button */
  color: #532617; /* Dark brown text for contrast */
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Smooth hover effect */
  font-family: 'Georgia', Serif !important; /* Change to your desired font */
  border: none !important; /* Remove any unwanted border */
}

.button-link button:hover {
  background-color: #bf926b; 
}

a {
  text-decoration: none; /* Removes the underline from all links */
}